:root {
  --color-Red: hsl(0, 78%, 62%);
  --color-Cyan: hsl(180, 62%, 55%);
  --color-Orange: hsl(34, 97%, 64%);
  --color-Blue: hsl(212, 86%, 64%);

  --color-Very-Dark-Blue: hsl(234, 12%, 34%);
  --color-Grayish-Blue: hsl(229, 6%, 66%);
  --color-Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
